@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

/* Start Poetry and Verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

blockquote header{
	font-variant: small-caps;
	margin: 1em;
}
/* End Poetry and Verse */

blockquote[xml|lang]{
	font-style: italic;
}

/* Start glossary */
dl{
	margin: 1em 0;
}

dd{
	margin-left: 40px;
}

dd + dt{
	margin-top: 1em;
}
/* End glossary */

/* Letters start */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

/* Chapter 1-25 letter */
#chapter-1-25 blockquote footer p:first-of-type{
	text-align: center;
}

/* Chapter 2-43 final blockquote */
#chapter-2-43 blockquote{
	font-variant: small-caps;
	text-align: center;
}

/* Blackletter in chapter-1-8 */
#chapter-1-8 b{
	font-family: "Standard Blackletter";
}

#preface [epub|type~="z3998:poem"] header p{
	text-align: center;
}

/* Dedication */
#dedication{
	margin-top: 20vh
}

#dedication > p:first-of-type{
	font-variant: small-caps;
	text-align: center;
}

#dedication > p:first-of-type + p,
#dedication > p:first-of-type + p + p{
	text-indent: 0;
}

#dedication p > span{
	display: block;
	text-align: center;
}

/* Italics in second line of blockquote header in chapter 1-29 */
#chapter-1-29 blockquote header p:last-of-type{
	font-style: italic;
}

#chapter-1-29 blockquote header p:last-of-type time{
	font-style: normal;
}
